@import '../../index.css';
.btn {
        border: 0;
        outline: 0;
        color: var(--btn-main-color);
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        overflow: hidden;
        position: relative;
}

.btn .mobile {
        font-size: 1rem;
}
.btn__txt, .btn__icon {
        display: block;
        transition: transform 0.5s ease;
}
.btn__txt {
        padding: 1rem 2rem;
}
.btn__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: translateX(-100%);
}
.btn-animate:hover .btn__txt {
        transform: translateX(100%);
}
.btn-animate:hover .btn__icon {
        transform: translateX(0);
}
.btn-sm {
        font-size: 1rem;
}
.btn-sm .btn__txt {
        padding: 0.7rem 1.5rem;
}
