.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.top {
    align-items: flex-start;
}

.col-1 {
    flex: 1 1 25rem;
}

.col-2 {
    flex: 2 1 50rem;
}

img.small {
    max-width: 5rem;
    width: 100%;
}

.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-body>* {
    margin-bottom: 0.5rem;
}

button {
    background-color: #f8fef8;
    cursor: pointer;
}

button.block {
    width: 100%;
}

button.primary {
    background-color: #f0c040;
}

input,
select,
textarea,
button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}