/* button */
.UserList-button{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button.UserList-primary {
    background-color: #f0c040;
}
button.UserList-small{
    font-size: 1.2rem;
    background-color: #047baa;
    color: white;
}

/* Table */
.UserList-table {
    width: 100%;
    border-collapse: collapse;
}
.UserList-table tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4;
}
.UserList-table td,
.UserList-table th {
    text-align: left;
    border: 0.1rem solid #e4e4e4;
    padding: 0.5rem;
}
.UserList-table button {
    margin: 0 0.2rem;
}