.ProductEdit-form input,
textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #047baa solid;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ProductEdit-form input:hover {
  border: 0.1rem #047baa solid;
}
.ProductEdit-form button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0c040;
}
/* form */
/* Form */
.ProductEdit-form {
  max-width: 60rem;
  margin: 0 auto;
}
.ProductEdit-form > div {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.ProductEdit-form label {
  margin: 0.5rem 0;
}
.ProductEdit_select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #047baa solid !important;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: white;
  color: black;
  cursor: pointer;
}
